* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0.6em;
}


*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: yellow;
}
*::selection {
  background: yellow;
}
.App {
  width: 100%;
  min-height: 100vh;
}
.navbar {
  width: 100%;
  height: 100px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
.navbar h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3em 1em;
}
.navbar h1 span {
  font-weight: bolder;
}
.timer-bar {
  /* width: 100%; */
  align-self: flex-start;
  height: 4px;
  background: yellow;
  margin-top: auto;
  transition: 0.1s linear;
}
.navbar h1 {
  letter-spacing: 3px;
  font-weight: normal;
}
.typing-section {
  width: 100%;
  height: calc(100vh - 100px);
  background: #f6f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.splash-left {
  position: absolute;
  width: 30%;
  height: calc(100vh - 100px);
  top: 0;
  left: 0;
  background: url("./assets/test-bg-left.png");
  background-size: 100%;
  z-index: -1;
}
.splash-right {
  position: absolute;
  width: 30%;
  height: calc(100vh - 100px);
  top: 0;
  right: 0;
  background: url("./assets/test-bg-right.png");
  background-size: 100%;
  z-index: -1;
}
#small-intro {
  font-size: 1em;
  color: hsl(240, 8%, 31%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}
#big-intro {
  color: hsl(240, 8%, 12%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* letter-spacing: 2px; */
  font-size: 4em;
  font-weight: bolder;
}
.stats {
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.stats h1 {
  font-weight: bolder;
  font-size: 3em;
  color: hsl(240, 8%, 12%);
}
.stats p {
  color: hsl(240, 8%, 12%);
  font-size: 1em;
}
.timer {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid yellow;
}
.counts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}
.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.count > div {
  width: 120px;
  height: 120px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.count p {
  margin-top: 0.5em;
}
.typing {
  width: 60%;
  margin: 1em auto;
  background: #ffffff;
  box-shadow: 0 9px 24px rgba(0, 0, 0, 0.12), 0 9px 24px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  /* font-size: 3em; */
}
input {
  outline: none;
  border: none;
  width: 2px;
  background: #f6f6f7;
  font-size: 3em;
}
.done {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  align-self: flex-end;
  gap: 0.2em;
  font-size: 3em;
  color: #ababb0;
}
.doing {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  gap: 0.2em;
  font-size: 3em;
  color: #1b1b20;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  max-width: 80vw;
  width: 40vw;
  min-height: 350px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  gap: 3em;
}
.left-modal {
  flex: 1;
}
.right-modal {
  align-self: flex-start;
  margin: 2em 0;
  flex: 2;
}
.right-modal h2 {
  font-size: 3em;
  font-weight: bolder;
}
.right-modal p {
  font-size: 1.2em;
}
.right-modal p span {
  font-weight: bolder;
}
.right-modal button {
  outline: none;
  border: none;
  background: yellow;
  padding: 1em 2em;
  width: 100%;
  margin: 1em 0;
  font-size: 1.4em;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
}
.user-stats {
  position: relative;
  background: #f6f6f7;
  width: 100%;
  padding: 0 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  z-index: 1;
}
.user-stats div {
  flex: 1;
}
@media (max-width: 768px) {
  .user-stats {
    flex-direction: column;
  }
}
